<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../header/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <a href="/create-user" class="btn btn-primary">Create new user</a>
        </div>

        <div>
            <table class="table table-hover table-bordered">
                <thead>
                    <td>Id</td>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </thead>

                <tbody>

                    <% users.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%=user.id %>
                            </td>
                            <td>
                                <%=user.name %>
                            </td>
                            <td>
                                <%=user.email %>
                            </td>
                            <td>
                                <%=user.address %>
                            </td>
                            <td>
                                <a href="" class="btn btn-warning">
                                    <i class="fa-solid fa-pen "></i>
                                </a>
                                <a name="delete-action" class="btn btn-danger" data="<%= user.id %>">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </main>
    <script src="js/index.js"></script>
    <footer>
        <%- include('../footer/footer'); %>
    </footer>

</body>

</html>
Save the changes to this file and then run the application: